<nav class="navbar is-dark">
  <div class="centerNav">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="assets/img/Main_noBack.png" alt="We The People logo" width="auto" height="28">
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        Home
      </a>
      <a class="navbar-item" routerLink="about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        About
      </a>
      <a class="navbar-item" routerLink="our-team" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        Our Team
      </a>
      <a class="navbar-item" target="blank" href="https://apps.apple.com/us/app/we-the-people-justice/id1532491123">
        Download
      </a>
      <a class="navbar-item" routerLink="contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        Join the Team
      </a>
    </div>

    <div class="navbar-end">
      <div style="text-decoration: none;" class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button" href="https://www.paypal.com/donate/?hosted_button_id=QQ3BSKBT47LN8">
              <span>Donate</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>