<section class="hero is-info">
    <div class="hero-body">
        <p class="title">
            Join the Team!
        </p>
        <p class="subtitle">
            We the People is run by an incredible team of volunteers, and we are always looking for more to join us.
            Please fill out the form below and we will reach out with additional information!
        </p>
    </div>
</section>

<div class="join">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="e.g Alex Smith">
        </div>
    </div>

    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
        </div>
    </div>

    <div class="control" style="padding-bottom: 16px;">
        <label class="label">Interested in:</label>
        <div class="select">
            <select>
                <option>Select team</option>
                <option>Content</option>
                <option>Marketing</option>
                <option>Development</option>
                <option>UI Design</option>
                <option>Legal</option>
                <option>Human Resourses</option>
            </select>
        </div>
    </div>

    <div class="field">
        <label class="label">Subject</label>
        <div class="control">
          Join the Team!
        </div>
      </div>

    <div class="field" style="padding-bottom: 16px;">
        <label class="label">Message</label>
        <div class="control">
            <textarea class="textarea" placeholder="Tell us about yourself!"></textarea>
        </div>
    </div>

    <div class="field is-grouped">
        <p class="control">
            <a class="button is-success">
                Send
            </a>
        </p>
        <p class="control">
            <a class="button is-light">
                Cancel
            </a>
        </p>
    </div>
</div>